FontDescriptor(
    characters: {
        'A': (uv: (0, 0), size: (4, 6)),
        'B': (uv: (5, 0), size: (4, 6)),
        'C': (uv: (10, 0), size: (4, 6)),
        'D': (uv: (15, 0), size: (4, 6)),
        'E': (uv: (20, 0), size: (4, 6)),
        'F': (uv: (25, 0), size: (4, 6)),
        'G': (uv: (30, 0), size: (5, 6)),
        'H': (uv: (36, 0), size: (4, 6)),
        'I': (uv: (41, 0), size: (3, 6)),
        'J': (uv: (45, 0), size: (3, 6)),
        'K': (uv: (49, 0), size: (4, 6)),
        'L': (uv: (54, 0), size: (4, 6)),
        'M': (uv: (59, 0), size: (5, 6)),
        'N': (uv: (65, 0), size: (4, 6)),
        'O': (uv: (70, 0), size: (5, 6)),
        'P': (uv: (76, 0), size: (4, 6)),
        'Q': (uv: (81, 0), size: (5, 8), baseline_shift: -2),
        'R': (uv: (87, 0), size: (4, 6)),
        'S': (uv: (92, 0), size: (4, 6)),
        'T': (uv: (97, 0), size: (3, 6)),
        'U': (uv: (101, 0), size: (5, 6)),
        'V': (uv: (107, 0), size: (5, 6)),
        'W': (uv: (113, 0), size: (5, 6)),
        'X': (uv: (119, 0), size: (5, 6)),
        'Y': (uv: (125, 0), size: (5, 6)),
        'Z': (uv: (131, 0), size: (4, 6)),

        'a': (uv: (0, 10), size: (4, 4)),
        'b': (uv: (5, 8), size: (4, 6)),
        'c': (uv: (10, 10), size: (3, 4)),
        'd': (uv: (14, 8), size: (4, 6)),
        'e': (uv: (19, 10), size: (4, 4)),
        'f': (uv: (24, 8), size: (3, 6)),
        'g': (uv: (28, 10), size: (4, 6), baseline_shift: -2),
        'h': (uv: (33, 8), size: (4, 6)),
        'i': (uv: (38, 8), size: (2, 6)),
        'j': (uv: (41, 8), size: (2, 8), baseline_shift: -2),
        'k': (uv: (44, 8), size: (4, 6)),
        'l': (uv: (49, 8), size: (3, 6)),
        'm': (uv: (53, 10), size: (5, 4)),
        'n': (uv: (59, 10), size: (4, 4)),
        'o': (uv: (64, 10), size: (4, 4)),
        'p': (uv: (69, 10), size: (4, 6), baseline_shift: -2),
        'q': (uv: (74, 10), size: (4, 6), baseline_shift: -2),
        'r': (uv: (79, 10), size: (3, 4)),
        's': (uv: (83, 10), size: (3, 4)),
        't': (uv: (87, 8), size: (3, 6)),
        'u': (uv: (91, 10), size: (4, 4)),
        'v': (uv: (96, 10), size: (4, 4)),
        'w': (uv: (101, 10), size: (5, 4)),
        'x': (uv: (107, 10), size: (4, 4)),
        'y': (uv: (112, 10), size: (4, 6), baseline_shift: -2),
        'z': (uv: (117, 10), size: (3, 4)),

        '0': (uv: (0, 18), size: (4, 6)),
        '1': (uv: (5, 18), size: (2, 6)),
        '2': (uv: (8, 18), size: (4, 6)),
        '3': (uv: (13, 18), size: (4, 6)),
        '4': (uv: (18, 18), size: (4, 6)),
        '5': (uv: (23, 18), size: (4, 6)),
        '6': (uv: (28, 18), size: (4, 6)),
        '7': (uv: (33, 18), size: (4, 6)),
        '8': (uv: (38, 18), size: (4, 6)),
        '9': (uv: (43, 18), size: (4, 6)),

        '.': (uv: (48, 23), size: (1, 1)),
        ',': (uv: (50, 22), size: (2, 2), baseline_shift: -1),
        '?': (uv: (53, 18), size: (4, 6)),
        '!': (uv: (58, 18), size: (1, 6)),
        ';': (uv: (60, 19), size: (2, 5), baseline_shift: -1),
        '-': (uv: (63, 21), size: (3, 3)),
        '(': (uv: (67, 16), size: (2, 8), baseline_shift: -1),
        ')': (uv: (70, 16), size: (2, 8), baseline_shift: -1),
        '[': (uv: (74, 16), size: (2, 8), baseline_shift: -1),
        ']': (uv: (77, 16), size: (2, 8), baseline_shift: -1),
        '{': (uv: (80, 16), size: (4, 8), baseline_shift: -1),
        '}': (uv: (85, 16), size: (4, 8), baseline_shift: -1),
        '\u{0027}': (uv: (90, 18), size: (1, 6)),
        ':': (uv: (92, 20), size: (1, 4)),
        '/': (uv: (94, 18), size: (3, 6)),
        '\\': (uv: (98, 18), size: (3, 6)),
        '$': (uv: (102, 16), size: (3, 8), baseline_shift: -1),
        '*': (uv: (106, 18), size: (3, 6)),
        '#': (uv: (110, 18), size: (5, 6)),
        '@': (uv: (116, 18), size: (5, 6)),
        '+': (uv: (122, 19), size: (3, 4)),
        '%': (uv: (126, 17), size: (3, 6)),
        '=': (uv: (130, 19), size: (4, 4)),
        '<': (uv: (135, 18), size: (3, 5)),
        '>': (uv: (139, 18), size: (3, 5)),

        '🔒': (uv: (0, 25), size: (4, 6)),
        '•': (uv: (5, 28), size: (3, 4)),
        'µ': (uv: (9, 27), size: (4, 5), baseline_shift: -1),
        '⇒': (uv: (14, 27), size: (7, 5)),
        '©': (uv: (22, 25), size: (6, 7), baseline_shift: -1),
        '♥': (uv: (29, 26), size: (7, 6)),
        '⊕': (uv: (37, 25), size: (7, 7)),
        '∞': (uv: (45, 26), size: (7, 5)),
        'Ω': (uv: (53, 25), size: (5, 5)),
        'δ': (uv: (59, 25), size: (4, 6)),
        '∙': (uv: (69, 25), size: (3, 5)),
        '±': (uv: (73, 25), size: (3, 5)),
        ' ': (uv: (0, 6), size: (1, 1)),
    },
    unknown: (uv: (136, 0), size: (8, 10), baseline_shift: -2),
    height: 6,
    leading: 3,
    space_width: 3,
    tracking: 1.0
)
