Level(
    title: "Level 3",
    description: "",
    range: (-5.166667, 21.166666),

    peptide: Peptide(inner: {
        (0, 0): Amino(amino: Phe, children: "R"),
        (1, 0): Amino(amino: Arg, children: "RU"),
        (1, 1): Amino(amino: Arg, children: ""),
        (2, 0): Amino(amino: Leu, children: "R"),
        (3, 0): Amino(amino: Cys, children: "R"),
        (4, 0): Amino(amino: Asp, children: "U"),
        (4, 1): Amino(amino: Asp, children: ""),
    })
)
