Level(
    title: "BPC-138",
    description: "Ok this is a game jam, I don't really have time to write more of these descriptions...\n\nHover over the amino acids in the left sidebar to get more detailed information. Yellow connections between the amino acids you place represent bonds, which each contribute to the stability. Try to get two bonds for this level.",
    range: (20.499998, 23.333334),

    peptide: Peptide(inner: {
        (0, 0): Amino(amino: Arg, children: "R"),
        (1, 0): Amino(amino: Phe, children: "R"),
        (2, 0): Amino(amino: Asp, children: "R"),
        (3, 0): Amino(amino: Asp, children: "RUD"),
        (3, 1): Amino(amino: Ala, children: ""),
        (3,-1): Amino(amino: Cys, children: "R"),
        (4,-1): Amino(amino: Leu, children: ""),
        (4, 0): Amino(amino: Asp, children: ""),
    })
)
