Level(
    title: "CJC-1372",
    description: "With only positively charged amino acids, you are going to want to get those as far apart as you can (without sacrificing the stability from other mechanisms).",
    range: (13.0, 16.333336),

    peptide: Peptide(inner: {
        (3, 1): Amino(amino: Arg, children: ""),
        (2, 1): Amino(amino: Ala, children: "R"),
        (1, 1): Amino(amino: Cys, children: "R"),
        (0, 1): Amino(amino: Phe, children: "R"),
        (0, 0): Amino(amino: Ala, children: "RU"),
        (1, 0): Amino(amino: Ala, children: "R"),
        (2, 0): Amino(amino: Arg, children: ""),
    })
)
